@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 100% 99%;
    --foreground: 240 10% 3.9%;
    --card: 36 100% 99%;
    --card-foreground: 240 10% 3.9%;
    --popover: 36 100% 99%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 36 100% 99%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 136 25% 33%;
    --secondary-foreground: 36 100% 99%;
    --muted: 136 25% 33%;
    --muted-foreground: 36 100% 99%;
    --accent: 96 36% 53%;
    --accent-foreground: 36 100% 99%;
    --destructive: 0 62% 47%;
    --destructive-foreground: 36 100% 99%;
    --border: 240 10% 3.9%;
    --input: 240 10% 3.9%;
    --ring: 96 36% 53%;
    --chart-1: 96 36% 53%;
    --chart-2: 136 25% 33%;
    --chart-3: 0 62% 47%;
    --chart-4: 240 10% 3.9%;
    --chart-5: 36 100% 99%;
    --radius: 0.5rem
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 36 100% 99%;
    --card: 240 10% 3.9%;
    --card-foreground: 36 100% 99%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 36 100% 99%;
    --primary: 36 100% 99%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 136 25% 33%;
    --secondary-foreground: 36 100% 99%;
    --muted: 136 25% 33%;
    --muted-foreground: 36 100% 99%;
    --accent: 96 36% 53%;
    --accent-foreground: 36 100% 99%;
    --destructive: 0 62% 47%;
    --destructive-foreground: 36 100% 99%;
    --border: 240 10% 3.9%;
    --input: 240 10% 3.9%;
    --ring: 96 36% 53%;
    --chart-1: 96 36% 53%;
    --chart-2: 136 25% 33%;
    --chart-3: 0 62% 47%;
    --chart-4: 240 10% 3.9%;
    --chart-5: 36 100% 99%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}